@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    border-color: #E5E7EB;
  }
  body {
    background-color: #F9FAFB;
    color: #111827;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.section-layout {
  @apply max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 py-16;
}